<!DOCTYPE html>
<html ng-app="Application">
<head>
    <title>{{ 'title'|trans() }}</title>
    <base href="/">
    <link rel="stylesheet" href="{{ app.asset_path }}/css/style.css"/>
</head>
<body ng-controller="MainController" ng-cloak>
{#<div class="g-page-loader" ng-http-loader methods="GET" template="/core/views/loader.html"></div>#}
<!-- Верхняя панель-->
<md-toolbar md-theme="indigo" class="app-toolbar md-indigo-theme md-whiteframe-z2 fix-top">
    <div class="md-toolbar-tools" tabindex="0">
        <md-button class="menu-icon nornal-btn" ng-click="toggleRight()" aria-label="Toggle Menu">
            <md-tooltip>
                Меню
            </md-tooltip>
            <md-icon md-svg-icon="navigation:menu"></md-icon>
        </md-button>
        JsonDB
    </div>
</md-toolbar>
<div layout="row" class="main-layout">
    <div flex>
        <div ui-view>
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <div ng-click="close()">
        <md-toolbar md-theme="indigo">
            <h1 class="md-toolbar-tools">Меню</h1>
        </md-toolbar>
        <md-content>
            <a class="menu-item menu-sub-item md-menu-item" ng-click="menu.toggleSelectPage(page)"
               ng-repeat="page in menu.pages" ui-sref="[[ page.state ]]"
               md-ink-ripple="#bbb">
                <span> [[ page.discription ]] </span>
            </a>
        </md-content>
    </div>
</md-sidenav>
<script type="text/javascript" src="{{ app.asset_path }}/js/vendor.js"></script>
<script type="text/javascript" src="{{ app.asset_path }}/js/app.js"></script>
</body>
</html>
