<!DOCTYPE html>
<html ng-app="Application">
<head>
    <title>{{ 'title'|trans() }}</title>
    <base href="/">
    <link rel="stylesheet" href="{{ app.asset_path }}/css/style.css"/>
</head>
<body class="js-application" ng-controller="MainController">
<header>
    <div class="ui inverted segment">
        <div class="ui inverted secondary pointing menu">
            <div class="ui container">
                <a href="/admin" class="header item">
                    JsonDB
                </a>
                <a href="/admin/tables" class="item">Таблицы</a>
            </div>
            <div class="right menu">
                <a href="/" target="_blank" class="ui item">
                    На сайт
                </a>
                <a class="ui item">
                    Выход
                </a>
            </div>
        </div>
    </div>
</header>
<div class="g-messages"></div>
<main role="main">
    <div class="ui dimmer" ng-class="loading ? 'active' : ''">
        <div class="ui text loader">Loading</div>
    </div>
    <div class="ui grid">
        <div class="three wide column">
            <h2 class="ui center aligned icon header">
                <i class="circular table icon"></i>
                Таблицы
            </h2>

            <div class="ui celled list" ng-controller="TablesController">
                <div class="item" ng-repeat="table in tables">
                    <i class="table icon"></i>

                    <div class="content">
                        <div class="header">
                            <a href="/admin/tables/[[ table ]]">
                                [[ table ]]
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui vertical divider"></div>
        <div class="thirteen wide column">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</main>
<footer>

</footer>
<script type="text/javascript" src="{{ app.asset_path }}/js/vendor.js"></script>
<script type="text/javascript" src="{{ app.asset_path }}/js/app.js"></script>
</body>
</html>
