<h1 class="md-display-3" ng-show="notFound">[[ notFound ]]</h1>

<div ng-hide="notFound">
	<div layout="row">
		<div flex="100">
			<md-content layout-padding>
				<md-tabs md-selected="0" md-border-bottom md-dynamic-height>
					<md-tab ng-repeat="row in table"
					        ng-disabled=""
					        label="Строка - [[$index]]">
						<div class="tab[[$index%4]]">
							<div>
								<form name="rowForm-[[$index]]">
									<div layout="row">
										<div flex="20" flex-offset="80">
											<md-button class="md-primary md-raised" ng-click="removeRow($event, row)"
											           ng-disabled="table.length <= 1">Удалить
											</md-button>
											<md-button class="md-primary md-raised" ng-click="addItem($event)">
												Добавить
											</md-button>
											<md-button class="md-primary md-raised" ng-click="save($event)">
												Сохранить
											</md-button>
										</div>
									</div>
									<div ng-repeat="col in row" >
										<field-types
												directive="directives['[[ col.fieldType ]]']"
												value="col">
										</field-types>
									</div>
									<!--<md-input-container class="md-block" ng-if="col.fieldType != 'Date'">

									</md-input-container>-->

								</form>
							</div>
						</div>
					</md-tab>
				</md-tabs>
				<!--<md-divider ng-if="!$last"></md-divider>-->
			</md-content>
		</div>
	</div>
	<!--<div class="ui grid">
		<div class="four column row">
			<div class="left floated column">
				<div class="ui animated fade button" tabindex="0" ng-click="showSettings($event)">
					<div class="visible content">
						Настройки
					</div>
					<div class="hidden content">
						<i class="icon settings"></i>
					</div>
				</div>
				<div class="ui modal js-settings">
					<i class="close icon"></i>

					<div class="header">
						Настройки
					</div>
					<div class="content">
						<form class="ui form">
							<div class="field" ng-repeat="config in configs">
								<label>Название поля</label>

								<div class="three fields">
									<div class="field">
										<input type="text" ng-model="config.key" placeholder="[[config.key]]">
									</div>
									<div class="field">
										<select class="ui fluid dropdown" ng-model="config.value">
											<option value="[[type]]" ng-repeat="type in fieldTypes">[[type]]</option>
										</select>
									</div>
									<div class="field">
										<button class="ui red basic icon button"
										        ng-click="removeRowConfig($event, config)">
											<i class="close icon"></i>
										</button>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="actions">
						<div class="ui green basic button" ng-click="addRowConfig($event)">
							Добавить строку
						</div>
						<div class="ui green right labeled icon button" ng-click="saveConfig($event)">
							Сохранить
							<i class="checkmark icon"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="right floated column">
				<div class="ui buttons">
					&lt;!&ndash;<button class="ui button">Добавить строку</button>&ndash;&gt;
					<div class="ui positive animated fade button" tabindex="0" ng-click="addItem($event)">
						<div class="visible content">
							Добавить строку
						</div>
						<div class="hidden content">
							<i class="icon add circle"></i>
						</div>
					</div>
					<div class="or"></div>
					<div class="ui positive animated fade button" tabindex="0" ng-click="save($event)">
						<div class="visible content">
							Сохранить
						</div>
						<div class="hidden content">
							<i class="icon save"></i>
						</div>
					</div>
					&lt;!&ndash;<button class="ui positive button">Сохранить</button>&ndash;&gt;
				</div>
			</div>
		</div>
	</div>-->
	<!--<div ng-tabs class="table-tabs">
		<div class="ui grid">
			<div class="four column row">
				<div class="left floated column">
					<form class="ui form">
						<field-types
								class="fields"
								ng-repeat="col in row"
								directive="directives['[[ col.fieldType ]]']"
								value="col"></field-types>
					</form>
				</div>
				<div class="right floated column">
					<button class="ui red basic button" ng-click="removeRow($event, row)">
						<i class="remove icon"></i>
						Удалить
					</button>
				</div>
			</div>
		</div>
	</div>-->
</div>
